*{
    box-sizing : border-box;
}

body{
    background-color: rgba(21, 9, 131, 0.692);
}

h1, a{
    text-transform: capitalize;
}

div h1{
    color: teal;
}

li{
    background-color:black;
    font-size: 20px;
    text-align:center;
    display: inline-block;
    border: 1px solid black;
    width: 110px;
    height: 50px;
    padding-top: 10px;
}
/* Class section */
.container{ 
    display: flex;
}

/* ID Section */
#title{
    text-align: center;
}

#navigation{
    float: center;
}

/* Meida Section */
img{
    width: 244px;
    height: 300px;
    border-radius: 50%;
}

video{
    border: 2px solid black;
    width: 410px;
}

/* Links Section */
a:link{
    color: purple;
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}
  
a:hover {
    font-weight: bold;
    text-decoration: none;
}
  
a:active {
    text-decoration: underline;
}